@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-controller="Data" asp-action="Primary">Primary</a></li>
    <li><a asp-controller="Data" asp-action="Secondary">Secondary</a></li>
</ul>
